:root{
    --preto-color: #000000;
    --cinza-color: #14213d;
    --amarelo-color: #fca311;
    --branco-escuro-color: #e5e5e5;
    --branco-color: #ffffff;
    --background-color: #14213d7e;
    --vermelho-color: rgb(176, 46, 46);
}


#modal{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


.close{
    visibility: hidden;
}

.open{
    visibility: visible;
}

#modal-backgroud{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-width: 50%;
    background-color: var(--background-color);
}

#modal-container{
    background-color: var(--branco-escuro-color);
    border-radius: 10PX;
    padding: 20PX;
    max-width: 900px;
}

#modal-body{
    display: flex;
    justify-content: space-around;
}

#movie-info{
    padding: 10px;
    min-width: 50%;
    text-align: justify;
}

p{
    margin-bottom: 30px;
}

h2{
    color: var(--amarelo-color);
}
h3{
    display: inline;
    color: var(--amarelo-color);
}

h4{
    color: var(--amarelo-color);
    display: inline;
}

#add-to-list{
    margin-top: 20px;
    border: 2px solid --branco-color;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

#add-to-list:focus
#add-to-list:hover{
    background-color: var(--amarelo-color);
    color: var(--branco-color);
}

#btnClose{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: var(--vermelho-color);
}