.modal-custom{
    background-color: blue;
    border-radius: 10px;
    padding: 10px;
}

img.post{
    display: flex;
    width: 100%;
    max-width: 400px;
    max-height: 500px;
    margin: auto;
   
}

.btn-modal{
    width: 90%;
    justify-content: center;
}

div.btn-modal button{
    text-align: center;
    width: 40%;
    margin: 3px;
}

.load{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    background: #0d044c;
    align-items: center;
    color: aliceblue;

}

.modal-erro{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    background: #0d044c;
    align-items: center;
    color: aliceblue;   
}

