:root{
    --sky-blue: #8ecae6ff;
    --blue-green: #219ebcff;
    --prussian-blue: #023047ff;
    --selective-yellow: #ffb703ff;
    --ut-orange: #fb8500ff;
}

body{
    background-color: #fff;
}

header{
    background-color: var(--prussian-blue);
}
.h1-div{
    margin: auto;
}

h1.h1-custom{
    font-weight:bolder;
    color: var(--selective-yellow);
}

.input-text{
    border: 1px rgb(11, 8, 8) solid;
    height: 40px;
    border-radius: 10px;
    width: 100%;
    padding-left: 30px;
    margin: auto;
    margin-bottom: 2px;
}

#search{
    margin: auto;
}

#search-2{
    margin: auto;
}

.btn-pesquisar{
    margin: 2px auto;
    width: 95%;
}
